.wrapper {
   display: flex;
   flex-direction: column;
   width: 100%;
}

.question_wrapper {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   align-items: center;
   cursor: pointer;
   padding: 20px;
   border-radius: var(--border-radius-small);
}

.question_wrapper:hover {
   background-color: #F9F9F4;
}

.question {
   white-space: nowrap;
   width: 100%;
}

.answer_wrapper {
   height: auto;
   color: var(--color-text-light);
   padding: 20px;
   background-color: var(--color-background-dark);
}
