.wrapper {
   display: flex;
   flex-direction: column;
   width: 100%;
   border-bottom: none;
}

.wrapper:not(:last-child) {
   border-bottom: 1px solid var(--color-border); 
}

.question_wrapper {
   display: flex;
   flex-direction: row;
   align-items: center;
   cursor: pointer;
   padding: 20px;
   border-radius: var(--border-radius-small);
}

.question_wrapper:hover {
   background-color: #f9f9f4;
}

.question {
   width: fit-content;
}

.answer_wrapper {
   height: auto;
   color: var(--color-text-light);
   padding: 20px;
   background-color: var(--color-background-dark);
}

@media (max-width: 768px) {
   .question_wrapper {
      flex-direction: column;
      justify-content: start;
      align-items: start;
   }
   .wrapper {
      border-bottom: 1px solid var(--color-border); 
   }
}
