.wrapper {
    height: 650px;
    display: flex;
    flex-direction: column;
    row-gap: 90px;
    align-items: center;
    justify-content: center;
}

.heading_wrapper {
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    align-items: center;
    position: relative;
}

.heading {
    font-size: 115px;
    font-weight: 400;
    letter-spacing: -3px;
    line-height: 90px;
    text-align: center;
}

.subheading {
    font-family: var(--font-roboto-mono);
    font-size: 20px;
    color: var(--color-text-light);
    letter-spacing: -0.5px;
    position: absolute;
    top: -50px;
}

@media (max-width: 768px) {
    .wrapper {
        height: auto;
        align-items: start;
        padding: 0px 16px;
        row-gap: 0px;
    }
    .subheading {
        position: relative;
        top: 0px;
    }
    .heading_wrapper {
        row-gap: 12px;
        align-items: start;
        justify-content: end;
        height: 250px;
        padding-bottom: 50px;
    }
    .subheading {
        font-size: 16px;
    }
    .heading {
        font-size: 60px;
        letter-spacing: -1px;
        line-height: 55px;
        text-align: left;
    }
}