.wrapper {
    height: 650px;
    display: flex;
    flex-direction: column;
    row-gap: 60px;
    align-items: center;
    justify-content: center;
}

.heading_wrapper {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    align-items: center;
    position: relative;
}

.heading {
    font-size: 100px;
    font-weight: 400;
    letter-spacing: -3px;
    line-height: 90px;
    text-align: center;
}

.subheading {
    font-family: var(--font-roboto-mono);
    font-size: 20px;
    color: var(--color-text-light);
    letter-spacing: -0.5px;
    position: absolute;
    top: -50px;
}

