.wrapper {
   display: flex;
   flex-direction: column;
   row-gap: 40px;
}

.heading_wrapper {
   display: flex;
   flex-direction: column;
   row-gap: 12px;
   align-items: center;
}

.heading_wrapper_align_left {
   display: flex;
   flex-direction: column;
   row-gap: 12px;
   align-items: start;
}

.heading {
   text-align: center;
}

.subheading {
   font-size: 14px;
   font-family: var(--font-roboto-mono);
   color: var(--color-text-primary-faded);
}

.cat_wrapper {
   display: flex;
   flex-direction: row;
   column-gap: 20px;
   align-items: center;
   margin: auto;
}

.wrapper {
   padding: 0px 6px;
}