.wrapper {
   display: flex;
   flex-direction: column;
   row-gap: 100px;
   padding: 100px 0px;
}

.accordian_wrapper {
   display: grid;
   grid-template-columns: 1fr 1fr;
   column-gap: 30px;
   border-bottom: none;
}

.accordian_col {
   display: flex;
   flex-direction: column;
   width: 100%;
}

@media (max-width: 768px) {
   .accordian_wrapper {
      grid-template-columns: 1fr;
      column-gap: 0px;
   }
}
