.wrapper {
    position: fixed;
    top: 0;
    height: 60px;
    justify-content: space-between;
    background-color: var(--color-background);
    border-bottom: 1px solid #EEEEEE;
    display: flex;
    flex-direction: row;
    width: 100vw;
    align-items: center;
    padding: 30px;
    z-index: 9999;
}

.menu_items_wrapper {
    position: absolute;
    display: flex;
    flex-direction: row;
    white-space: nowrap;
    column-gap: 20px;
    width: auto;
    height: auto;
    align-items: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--color-text-light);
}

.cat_wrapper {
    display: flex;
    flex-direction: row;
    column-gap: 30px;
    align-items: center;
    color: var(--color-text-light);
}

.logo_wrapper {
    width: auto;
    height: auto;
    font-family: var(--font-roboto-mono);
    font-weight: 500;
    letter-spacing: 1.5px;
}